include LICENSE
include README.md
include CHANGELOG.md
include CONFIGURATION_GUIDE.md
include QUICKSTART.md
include RELEASE_NOTES.md
include pyproject.toml

recursive-include formbuilder/static *
recursive-include formbuilder/templates *
